<nav class="flex items-center justify-between flex-wrap bg-primary-blue h-120">
  <div class="flex items-center flex-no-shrink">
    <img src="assets/aws-logo.svg" alt="Logo" class="w-auto" />
  </div>
</nav>

<div class="bg-secondary-blue min-h-screen flex flex-col">
  <div
    *ngIf="isLoading"
    class="loader w-16 h-16 border-t-4 border-b-4 border-gray-900 rounded-full animate-spin mx-auto my-5"
  ></div>
  <ng-container *ngIf="!isLoading">
    <div class="container mx-auto w-full my-5">
      <div class="flex mb-4 items-center flex-col">
        <h1 class="text-5xl font-bold text-white my-5">
          MEET THE <span class="text-primary-orange">VOLUNTEERS</span>
        </h1>
        <p class="text-xl text-white text-center">
          Discover the collective brilliance of our diverse and dynamic team,
          united by a passion for AWS, as we come together to inspire, educate,
          and empower at AWS Community Day 2023.
        </p>
      </div>
      <div class="flex mb-5 justify-center">
        <button
          class="mr-2 bg-gray-200 hover:bg-secondary-orange px-4 py-2 border border-black"
          [class.bg-primary-orange]="selectedCategory === 'All'"
          (click)="selectCategory('All')"
        >
          All
        </button>
        <button
          class="mr-2 bg-gray-200 hover:bg-secondary-orange px-4 py-2 border border-black"
          [class.bg-primary-orange]="selectedCategory === categoryName"
          *ngFor="let categoryName of categoryKeys"
          (click)="selectCategory(categoryName)"
        >
          {{ categoryName }}
        </button>
      </div>
    </div>

    <div class="container mx-auto w-full mb-5 pb-5 flex justify-center">
      <ng-container *ngIf="selectedCategory === 'All'">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 inline-block flex flex-wrap"
        >
          <div
            class="bg-white p-4 w-full sm:w-full md:w-220 lg:w-220 xl:w-220 shadow hover:bg-primary-orange flex justify-between flex-col flex-grow"
            *ngFor="let volunteer of allVolunteers"
          >
            <img
              class="h-158 w-158 rounded-full mx-auto mb-4"
              [src]="getImagePath(volunteer.image_path)"
            />
            <div>
              <h2 class="text-center text-lg font-bold">
                {{ volunteer.complete_name }}
              </h2>
              <p class="text-center font-bold">
                {{ volunteer.role }}
              </p>
              <p class="text-center text-gray-700">{{ volunteer.comittee }}</p>
            </div>
            <div class="mt-2 flex justify-center w-full">
              <a
                *ngIf="volunteer.facebook"
                [href]="volunteer.facebook"
                target="_blank"
              >
                <img
                  src="assets/fb.png"
                  alt="Facebook logo"
                  class="h-35 w-35"
                />
              </a>
              <a
                *ngIf="volunteer.linkedin"
                [href]="volunteer.linkedin"
                target="_blank"
              >
                <img
                  src="assets/linkedin.png"
                  alt="Facebook logo"
                  class="h-35 w-35"
                />
              </a>
              <a
                *ngIf="volunteer.twitter"
                [href]="volunteer.twitter"
                target="_blank"
              >
                <img
                  src="assets/twitter.png"
                  alt="Facebook logo"
                  class="h-35 w-35"
                />
              </a>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedCategory !== 'All'">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 inline-block flex flex-wrap"
        >
          <div
            class="bg-white p-4 w-full sm:w-full md:w-220 lg:w-220 xl:w-220 shadow hover:bg-primary-orange flex justify-between flex-col flex-grow"
            *ngFor="let volunteer of volunteers[selectedCategory]"
          >
            <img
              class="h-158 w-158 rounded-full mx-auto mb-4"
              [src]="getImagePath(volunteer.image_path)"
            />
            <div>
              <h2 class="text-center text-lg font-bold">
                {{ volunteer.complete_name }}
              </h2>
              <p class="text-center font-bold">
                {{ volunteer.role }}
              </p>
              <p class="text-center text-gray-700">{{ volunteer.comittee }}</p>
            </div>
            <div class="mt-2 flex justify-center w-full">
              <a
                *ngIf="volunteer.facebook"
                [href]="volunteer.facebook"
                target="_blank"
              >
                <img
                  src="assets/fb.png"
                  alt="Facebook logo"
                  class="h-35 w-35"
                />
              </a>
              <a
                *ngIf="volunteer.linkedin"
                [href]="volunteer.linkedin"
                target="_blank"
              >
                <img
                  src="assets/linkedin.png"
                  alt="Facebook logo"
                  class="h-35 w-35"
                />
              </a>
              <a
                *ngIf="volunteer.twitter"
                [href]="volunteer.twitter"
                target="_blank"
              >
                <img
                  src="assets/twitter.png"
                  alt="Facebook logo"
                  class="h-35 w-35"
                />
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<footer class="bg-primary-blue text-white py-5">
  <div class="container mx-auto flex flex-col items-center">
    <h2 class="text-xl font-bold">
      Powered by: <a href=""> <i class="bi bi-linkedin"></i></a>
    </h2>
    <img src="assets/logo-city.png" alt="Logo" class="w-20 my-4" />
    <p class="text-center">City Government of Baguio</p>
  </div>
</footer>
